name: staging-pipeline

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/generalmagicio/unicorn-be:staging

  deploy:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Redeploy Staging
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USERNAME }}
          key: ${{ secrets.STAGING_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd unicorn-backend
            git reset --hard HEAD~1
            git checkout develop
            git pull origin develop
            docker image prune -a --force
            docker compose pull

            ## Update each backend service one by one
            docker compose -f docker-compose-staging.yml up -d --no-deps --scale unicorn-backend1=0 --scale unicorn-backend2=1
            docker compose -f docker-compose-staging.yml up -d
            # Check the health of unicorn-backend1
            if [ "$(docker inspect --format='{{json .State.Status}}' unicorn-backend1)" != "\"running\"" ]; then
              echo "unicorn-backend1 is not running, stopping deployment"
              exit 1
            fi

            docker compose -f docker-compose-staging.yml up -d --no-deps --scale unicorn-backend1=1 --scale unicorn-backend2=0
            docker compose -f docker-compose-staging.yml up -d
            # Check the health of unicorn-backend2
            if [ "$(docker inspect --format='{{json .State.Status}}' unicorn-backend2)" != "\"running\"" ]; then
              echo "unicorn-backend1 is not running, stopping deployment"
              exit 1
            fi